<!-- lib/your_app_web/templates/error/404.html.eex -->
<div class="container">
  <h1>404 - Page Not Found</h1>
  <p>Sorry, the page you are looking for could not be found sdfsdfds.</p>
  <p>
    <%!-- <%= link "Return to Homepage", to: "/" %> --%>
  </p>
</div>

<style>
  .container { max-width: 600px; margin: 40px auto; text-align: center; }
</style>
